<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kanefron5.com.sweetmessenger" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

<activity android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

<activity android:name=".Chaing"
    android:label="Список изменений"
        android:theme="@style/Chaing">
    </activity>

<activity android:name=".Notify"
            android:label="Список изменений"
            android:theme="@style/Chaing">
        </activity>

<activity android:name=".Friends"
            android:label="@string/app_name">
        </activity>

<activity android:name=".Start"
    android:label="@string/app_name"
    android:theme="@style/start"
          >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

<activity android:name=".TwoLog"
            android:label="Авторизация"
          android:theme="@style/start"
    android:noHistory="true">
        </activity>

<activity android:label="Поддержка" android:name=".Wv">
        <intent-filter>
            <action android:name="android.intent.action.VIEW">
            </action>
            <data android:scheme="http">
            </data>
            <category android:name="android.intent.category.DEFAULT">
            </category>
        </intent-filter>
</activity>

<activity android:name=".post"
          android:label="@string/app_name">
</activity>

<activity android:name=".LoginActivity"
          android:configChanges="keyboardHidden|orientation"
          android:label="@string/app_name">
</activity>





        <activity android:name=".easter_egg"
            android:label="@string/app_name"
            android:theme="@style/Chaing">
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
